// ==========================================================================
// Helper Classes
// ==========================================================================

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


.show {
  display: block;
}

.hide {
  display: none;
}

.no-top-border {
  border-top: none !important;
}

.img-round {
  border-radius: 50%;
}