/***********************************************************
*** Main
***********************************************************/

main {
  margin-top: 78px;
  margin-left: 90px;

  .main-heading {
    margin: 1.6em;
    display: inline-block;
  }
}

/***********************************************************
*** Search
***********************************************************/

section.search {
  display: inline-block;
  border-left: 1px solid $alto;
  border-bottom: 1px solid $alto;
  float: right;
  width: 87%;
  position: relative;
  background-color: $alabaster;


  input[type="search"] {
    font-size: 1.1em;
    padding: 10px;
    border-style: solid;
    border-color: $alto;
    border-radius: 5px;
    margin: 2em;
    float: right;
    width: 380px;
    color: $alabaster;

    &:focus {
      border-color: $primary-color;
      outline-color: $primary-color;
      outline-style: none;
    }
  }

  i.fa-search {
    position: absolute;
    right: 2em;
    font-size: 1.4em;
    top: 2em;
    color: $primary-color;
  }
}