/***********************************************************
*** Typography
***********************************************************/

body {
  font-family: 'Lato, sans-serif';
}

.main-heading {
  font-size: 1.8em;
  font-weight: 400;
  // line-height: 1.4;
  color: $dove_gray;
}