/***********************************************************
*** Typography
***********************************************************/

body {
  font-family: 'Lato, sans-serif';
}

.main-heading {
  font-size: 1.8em;
  font-weight: 400;
  // line-height: 1.4;
  color: $dove_gray;
}

.block-heading {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: $font-weight-light;
  color: $dove_gray;
}

.alert-heading {
  font-size: 1em;
  font-weight: $font-weight-semibold;
  text-transform: capitalize;
}